html
  include partials/head.pug

  body
    h1= showdata.title

    h2 Developed By
    ul
      for item in showdata.developedBy
        li= item

    h2 Starring
    ul
      for item in showdata.starring
        li= item

    h2 Seasons
    ul
      for season in showdata.seasons
        li
          a(href=`/season/${season.number}`)= `Season ${season.number}`
